## Import

In [61]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

## Loading data

In [62]:
df = pd.read_csv("crocodile_dataset.csv")
df.head(5)

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
0,1,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,1.90,62.0,Adult,Male,31-03-2018,Belize,Swamps,Least Concern,Allison Hill,Cause bill scientist nation opportunity.
1,2,American Crocodile,Crocodylus acutus,Crocodylidae,Crocodylus,4.09,334.5,Adult,Male,28-01-2015,Venezuela,Mangroves,Vulnerable,Brandon Hall,Ago current practice nation determine operatio...
2,3,Orinoco Crocodile,Crocodylus intermedius,Crocodylidae,Crocodylus,1.08,118.2,Juvenile,Unknown,07-12-2010,Venezuela,Flooded Savannas,Critically Endangered,Melissa Peterson,Democratic shake bill here grow gas enough ana...
3,4,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,2.42,90.4,Adult,Male,01-11-2019,Mexico,Rivers,Least Concern,Edward Fuller,Officer relate animal direction eye bag do.
4,5,Mugger Crocodile (Marsh Crocodile),Crocodylus palustris,Crocodylidae,Crocodylus,3.75,269.4,Adult,Unknown,15-07-2019,India,Rivers,Vulnerable,Donald Reid,Class great prove reduce raise author play mov...

## Data analysis

In [63]:
#print(df.astype)
print(df.dtypes)
#print(df.shape)
print(df.isna().sum())

Observation ID            int64
Common Name              object
Scientific Name          object
Family                   object
Genus                    object
Observed Length (m)     float64
Observed Weight (kg)    float64
Age Class                object
Sex                      object
Date of Observation      object
Country/Region           object
Habitat Type             object
Conservation Status      object
Observer Name            object
Notes                    object
dtype: object
Observation ID          0
Common Name             0
Scientific Name         0
Family                  0
Genus                   0
Observed Length (m)     0
Observed Weight (kg)    0
Age Class               0
Sex                     0
Date of Observation     0
Country/Region          0
Habitat Type            0
Conservation Status     0
Observer Name           0
Notes                   0
dtype: int64

## Data cleaning

In [64]:
id = df["Observation ID"].copy()
y_train = df["Scientific Name"].copy()
df = df.drop(['Observation ID'], axis=1)

df.head(5)
df.columns

Index(['Common Name', 'Scientific Name', 'Family', 'Genus',
       'Observed Length (m)', 'Observed Weight (kg)', 'Age Class', 'Sex',
       'Date of Observation', 'Country/Region', 'Habitat Type',
       'Conservation Status', 'Observer Name', 'Notes'],
      dtype='object')

In [ ]:
df = df.astype({'Family': 'category', 'Genus': 'category', 'Age Class': 'category', 'Sex': 'category', 'Country/Region': 'category', 'Habitat Type': 'category', 'Conservation Status': 'category'})
catList = ['Family', 'Genus', 'Age Class', 'Sex', 'Country/Region', 'Habitat Type', 'Conservation Status']
dfCat = df[catList].copy()

dfDummies = pd.get_dummies(dfCat, columns=catList, drop_first=True)

dfDummies.head(5)

KeyError: "None of [Index(['Family', 'Genus', 'Age Class', 'Sex', 'Country/Region', 'Habitat Type',\n       'Conservation Status'],\n      dtype='object')] are in the [columns]"